/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
.container{
    padding-left: 25px;
    padding-right: 25px;
    margin-left: auto;
    margin-right: auto;
}
a{
    text-decoration: none;
    color: white;
}
.header{
    background-color: blue;
    height: 70px;
    text-transform: capitalize;
}
.header .container{
    height: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
}
.header .container .links ul{
    list-style: none;
    display: flex;
}
.header .container .links ul li{
    margin-left: 50px;
} */
